<div class="modal fade" id="verify_otp_modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">VERIFY OTP</h4>
      </div>

      <%= form_tag customer_verify_otp_path, method: :post, class: "form-horizontal", autocomplete: :off, remote: true do %>
        <%= hidden_field_tag(:otp_user_id, @address.user_id) %>

        <div class="modal-body">
          <div class="form-group">
            <div class="col-xs-12">
              Please Confirm OTP that has been sent to your Mobile Number.<br><br>
            </div>

            <div class="col-xs-12">
              <%= text_field_tag(:otp, "", class: "form-control", placeholder: "Enter 4 digit OTP") %>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-bottom: 0">Close</button>
          <button type="button" class="btn btn-primary verify-order-otp-submit-button">Submit</button>
        </div>
      <% end %>
    </div>
  </div>
</div>