<br><br>
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <form action="#" id="change-pass" method="post" name="change-pass">
        <input id="user_id" name="user" style="display: none;" type="text" value="<%=@user.id%>">
        <center>
          <h3 style="color: white ;">Change Password</h3>
        </center>
      </form>
    </div>

    <div class="panel-body">
      <div class="form-group">
        <br>
        <div class="col-sm-12" style="margin-top:15px !important;">
          <label class="control-label">Old password</label> <input class="form-control mb-0" id="old_password" name="Old password" placeholder="Old password" type="password">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12" style="margin-top:15px !important;">
          <label class="control-label">New password</label> <input class="form-control mb-0" id="new_password" name="New password" placeholder="New password" type="password">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12" style="margin-top:15px !important;">
          <label class="control-label">Confirm password</label> <input class="form-control mb-0" id="confirm_password" name="Confirm password" placeholder="Confirm password" type="password">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <br>
          <button class="btn btn-primary btn-border pull-right" id="change" type="submit">Change Password</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/formvalidation@0.6.2-dev/dist/js/formValidation.min.js"></script>

<script type="text/javascript">
  $("#change").on("click", function() {
    var passlength = new RegExp("(?=.{6,})");
    if ($('#old_password').val().trim() == "") {
      $('#old_password').focus();
      swal("Warning", "Old password can't be blank", "error");
      return false;
    }
    else if ($('#new_password').val().trim() == "") {
      $('#new_password').focus();
      swal("Warning", "New password can't be blank", "error");
      return false;
    }
    else if (!(passlength.test($('#new_password').val()))) {
      $('#new_password').focus();
      swal("Warning", "Password length should be 6 character long", "error");
      return false;
    }
    else if ($("#new_password").val() != $("#confirm_password").val()) {
      $('#confirm_password').focus();
      swal("Warning", "Password  and confirm password  do not match", "error");
      return false;
    }
    else if ($('#new_password').val().length <=5 || $('#new_password').val().length >=13 )
    {
      $('#new_password').focus();
      swal("Warning", "Please enter new password between length 6 to 12", "error");
      return false;
    }
    else if ($("#old_password").val() == $("#new_password").val()) {
      $('#new_password').focus();
      swal("Warning", "Old Password  and New Password can not be same", "error");
      return false;
    }
    else {
      var new_pass = $('#new_password').val()
      var user_id = $('#user_id').val()
      var old_password = $('#old_password').val()
      console.log(new_pass);
      $.ajax({
        method: "POST",
        headers: { 'accessToken': "<%=params[:session]%>" },
        url: "/admin/reset_password",
        data: {
          old_password: old_password,
          user_id: user_id,
          new_password: new_pass
        },
        dataType: "JSON",
        success: function(data) {
          if (data.code == 200) {
            swal("Done", data.message, "success")
            $("#old_password").val('')
            $("#new_password").val('')
            $("#confirm_password").val('')
          } else {
            swal("Warning", data.message, "error")
          }
        },
        error: function() {
          swal("error", "Something went wrong", "error")
        }
      });
    }
  });
</script>
