<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-sm-8">
		<h2>Material Control >> Purchase Order >> New</h2>
	</div>

	<div class="col-sm-4">
		<span class="pull-right">
			<h2><%= link_to 'Back <i class="fa fa-arrow-circle-right"></i>'.html_safe, inventory_restaurant_purchase_orders_path, class: "btn btn-danger" %></h2>
		</span>
	</div>
</div>
<br>

<div class="container">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="text-center">Add New Purchase Order</h3>
		</div>

		<div class="panel-body">
			<%= form_for @purchase_order, url: inventory_restaurant_purchase_orders_path do |f| %>
			<%= render 'form_fields', f: f %>
			<div class="row form-group">
				<center><%= f.submit "Create Purchase Order", class: "btn btn-success" %></center>
			</div>
			<% end %>
		</div>
	</div>

</div>


