<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i" rel="stylesheet">
<link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">

<style>
  * {
    margin: 0;
    padding: 0;
  }

  body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.8;
    background: #f1f1f1;
  }

  h1,h2,h3,h4,h5,h6 {
    font-family: 'Playfair Display', serif;
  }

  .email-container {
    max-width: 600px;
    border-radius: 0px 0px 5px 5px;
    color: #ffff;
  }

  .email-header {
    padding: 3em;
    background: white;
  }

  .email-content{
    padding: 2.5em;
    background: #2f4050;
    min-height: 220px;
  }

  .content-header .subheading{
    display: inline-block;
    padding: 5px;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .content-header h2{
    margin: 10px 0px 20px 0px;
    font-family: 'Playfair Display', serif;
  }

  .content-main p{
    font-size: 14px;
  }

  .content-main h3{
    font-family: 'Playfair Display', serif;
    background-color: #232427;
    box-sizing: border-box;
    width: 125px;
    border-radius: 5px;
  }

  .login-link{
    background: #26a82e;
    padding: 10px 20px;
    text-decoration: none;
    color: #ffff;
    border-radius: 5px;
  }

  .email-footer {
    font-size: 12px;
    line-height: 15px;
    background: #546575;
    padding: 1.5em 2.5em;
    text-align: left;
    border-radius: 0px 0px 5px 5px;
  }

</style>

<div class="container">
  <center>
    <div class="email-container">
      <div class="email-header">
        <figure>
          <img src="https://ik.imagekit.io/sodhemlpr/admin/fc-logo-740e35ae18bd8ef009b002e07e4e3dc0ffffd6566540380411608b48256c6a38_jUGif7F06g.png" class="img-fluid" style="height:150px;">
        </figure>
      </div>
      <div class="email-content">
        <div class="content-header">
          <span class="subheading">Hello, <%= @name %></h1></span>
          <hr>
          <h2>Welcome to Food Club.</h2>
        </div>
        <div class="content-main">
          <p style="font-family: 'Playfair';">Your Login Id: <b><%= @email %></b></p><br>
          <p><%= @password.present? ? "Temporary Password:" : "You can login with your current password" %></p>
          <h3><%=@password%></h3>
          <br>
          <p>We Thank you for your registration at Food Club. Your account has been approved by our team. This user id cannot be changed and hence we recommend that you to store the email for your future reference.</p>
          <br>
          <a class="login-link" href="http://foodclubapp.com/admin/login" target="_blank">Login</a>
        </div>
      </div>
      <div class="email-footer">
        <p>
          ©2020 Food Club
          <br>
          <small style="font-size: 11px;">Bahrain</small>
        </p>
      </div>
    </div>
  </center>
</div>
