<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-sm-8">
		<h2>Task Management >> Task Sub Category >> Edit</h2>
	</div>

	<div class="col-sm-4">
		<span class="pull-right">
			<h2><%= link_to 'Back <i class="fa fa-arrow-circle-right"></i>'.html_safe,  business_task_management_restaurant_task_sub_categories_path, class: "btn btn-danger" %></h2>
		</span>
	</div>
</div>
<br>

<div class="container">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="text-center">Add New Task Sub Category</h3>
		</div>

		<div class="panel-body">
			<%= render 'form' %>
		</div>
	</div>
</div>

<script type="text/javascript">
	<% if flash[:success].present? %>
	swal("Success", "<%= flash[:success] %>", "success")
	<% elsif flash[:error].present? %>
	swal("Error", "<%= flash[:error] %>", "error")
	<% end %>
</script>
