<div class="footer" title="Current Time: <%=Time.current%>">
  <div class="pull-right">
    Food Delivery Admin
  </div>
  <div>
    <strong>Copyright</strong> Food Club &copy;  <%=Date.current.year%>-<%=Date.current.year + 1%>
  </div>
</div>