<link href="/assets/select2.min.css" rel="stylesheet">

<style type="text/css">
  .bg-white {
    background-color: white;
  }

  .form-control {
    margin-bottom: 10px !important;
    height: 40px;
  }

  .setheight {
    height:40px !important;
  }

  .branch-select-div {
    height: 70px;
  }
   .bg-white {
    background-color: white;
  }

  .form-control {
    margin-bottom: 10px !important;
    height: 40px;
  }

  .setheight {
    height:40px !important;
  }

  .branch-select-div {
    height: 70px;
  }
    .bg-white {
    background-color: white;
  }

  .form-control {
    margin-bottom: 10px !important;
    height: 40px;
  }

  .setheight {
    height:40px !important;
  }

  .branch-select-div {
    height: 70px;
  }
  .show-detail-back-btn{
    margin-right: 1%;
    margin-top: 1.5%;
    padding-bottom: %;
    padding: 8px 65px 8px;
    outline: none !important;
  }
  .upload-img{
  margin-right: 1%;
    margin-top: 1.5%;
}
#upload-img-save-btn{
  margin-right: 12%;
}
#preloader{
  display:none;
  position:fixed;
  width:100%;
  height:100%;
  z-index:100000;
  opacity:0.5;
  background:#ededed;
  top:0 !important;
  left: 0 !important;
}

#preloader #inner-div-preloader{
  position: fixed;
  display: flex;  
  align-items: center;
  justify-content: center;
  width:100%;
  top:0;
  height:100%;  
}
</style>

<link rel="stylesheet" href="/assets/intlTelInput.css">

<div class="row white-bg page-heading" style="padding-bottom: 10px;">
  <div class="col-xs-3">
    <h2 style="margin-top:20px;"><b>Add Family Detail</b></h2>
  </div>
  <div class="col-xs-9">
    <!-- <label class="file-col-md-30 text-center">
      <input type="file" id='add-img-tag' name="image" onchange='readURL(event)' aria-label="File browser example">
      <span class="file-custom"></span>
    </label> -->
    <!-- <a href="#" class="btn btn-info upload-img">Upload Image</a> -->
    <a href="<%= business_hrms_family_details_path(restaurant_id: params[:restaurant_id]) %>" >
      <button class="btn btn-info pull-right show-detail-back-btn">Back</button>
    </a>
  </div>
</div>

<br>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <br>

    <div class="col-xs-12 col-sm-12 col-md-7 col-md-offset-2 well well-sm bg-white">
      <h3 class="text-center"> Add Family Detail</h3>
      <hr>
      <%= render 'form' %>
    </div>
  </div>
</div>

<br><br>

<script src="/assets/select2.full.min.js"></script>
<script type="text/javascript" src="/assets/telinput/intlTelInput.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/formvalidation@0.6.2-dev/dist/js/formValidation.min.js"></script>

