 <style>
    section {
      background-color: #ffffff;
      min-height: 100vh;
    }

    .terms_container {
      margin: 50px 0px;
    }

    .terms-head {
      margin: 20px 0px;
    }

    .main-heading {
      text-align: left;
      margin-bottom: 50px;
      position: relative;
      font-weight: bold;
      padding-bottom: 20px;
      color: #000;
      font-size: 28px;
    }

    .main-heading:after {
      background: #000;
      height: 5px;
      width: 150px;
      content: "";
      position: absolute;
      left: 0;
      margin: auto;
      bottom: 0;
      border-radius: 70px;
    }

    .head-terms {
      font-size: 22px;
      color: #000;
      font-weight: 600;
      line-height: 35px;
      text-transform: uppercase;
      margin-bottom: 15px;

    }

    .para-terms {
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 1px;
      margin-bottom: 40px;
      color: #646161;

    }

    .float-left {
      float: left;
    }

    .float-right {
      float: right;
    }

    .bold-pro {
      font-weight: 600;
      color: #000 !important;
    }

    .terms-no {
      float: left;
      margin: 0px 12px 0px 0px;
      font-weight: bold;
      color: #000;
    }
    .table-main{
      border: 1px solid #000;
    margin: 40px 0px;
    }

    .table-tr>td:first-child{
      width: 40%;
    }

    .table-tr td{
        border-right: 1px solid #000;
    }
  </style>
         <section class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">

          <div class="terms_container">
            <div class="terms-head">
              <h2 class="main-heading ">
                Food Club is the food delivery app that gives back!
              </h2>
              <p class="para-terms">
               What could be better than ordering food and getting rewarded every time? Even better, refer your
              friends and get rewarded every time they order, too! Just download Food Club (for free) and get in
              touch with your favourite restaurants in Bahrain. Food Club gives you points every time you or
              friends that you referred order food; before you know it, you&#39;ve collected enough for free meals!
              Wait, it still gets better. We offer delivery services for all restaurants on the app and you can track
              the delivery from the restaurant to your doorstep! This way, you&#39;ll know exactly when to put on your
              slippers to pick up your meal from the door. Finally, enjoy real images of menu items and the ability
              to directly contact restaurants from our app in case you want to customize your order!
              </p>
            </div>


          </div>

        </div>
      </div>
    </div>
  </section>
