 <style>
    section {
      background: white;
    }

    table > tbody > tr > td {
      color: #000000;
    }

    .terms_container {
      margin: 50px 0px;
    }

    .terms-head {
      margin: 20px 0px;
    }

    .main-heading {
      text-align: left;
      margin-bottom: 50px;
      position: relative;
      font-weight: bold;
      padding-bottom: 20px;
      color: #000;
      font-size: 28px;
    }

    .main-heading:after {
      background: #000;
      height: 5px;
      width: 150px;
      content: "";
      position: absolute;
      left: 0;
      margin: auto;
      bottom: 0;
      border-radius: 70px;
    }

    .head-terms {
      font-size: 22px;
      color: #000;
      font-weight: 600;
      line-height: 35px;
      text-transform: uppercase;
      margin-bottom: 15px;

    }

    .para-terms {
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 1px;
      margin-bottom: 40px;
      color: #646161;

    }

    .float-left {
      float: left;
    }

    .float-right {
      float: right;
    }

    .bold-pro {
      font-weight: 600;
      color: #000 !important;
    }

    .terms-no {
      float: left;
      margin: 0px 12px 0px 0px;
      font-weight: bold;
      color: #000;
    }
    .table-main{
      border: 1px solid #000;
    margin: 40px 0px;
    }

    .table-tr>td:first-child{
      width: 40%;
    }

    .table-tr td{
        border-right: 1px solid #000;
    }

    @media (min-width: 768px) {
      section {
        padding: 20px 0;
      }
    }
  </style>
         <section class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">

          <div class="terms_container">
            <div class="terms-head">
              <h2 class="main-heading ">
                FOOD CLUB AND (RESTAURANT) AGREEMENT AND TERMS AND CONDITIONS
              </h2>
              <h3 class="head-terms">
                FUTURE CHANGES TO THE RESTAURANT AGREEMENT &amp; NOTICES
              </h3>
              <p class="para-terms">
                We may make amendments or additions to the Restaurant Agreement by giving you up to 30 days' notice (and
                never less than reasonable notice) at any time. Notices under this Agreement may be given by either
                party by email, post, fax or via any online portal to which both you and we have access. We may send you
                documentation (such as rules or guidelines) via these means, and we may specify that such documentation
                (or part(s) of it) is intended to form part of the Restaurant Agreement.
              </p>
            </div>

            <div class="terms-head">
              <h3 class="head-terms">
                THE SERVICES WE PROVIDE TO YOU
              </h3>
              <p class="para-terms">
                <b class="bold-pro"> Order Channels: </b> We enable Customers to place Orders to purchase goods from you
                via an Order Channel. We intend to make each Order Channel available and functional for the purpose of
                providing the Service at all times but we are under no obligation to do so. Unless we have agreed
                otherwise, we will allow Customers to place both Card Orders and Cash Orders.
              </p>
            </div>

            <div class="terms-head">
              <h3 class="head-terms">
                PART 2. FOOD CLUB RESTAURANT TERMS &amp; CONDITIONS
              </h3>
              <p class="para-terms">
                These agreement with and associated terms &amp; conditions are made between FOOD CLUB LLC (<b
                  class="bold-pro">"we"</b> or <b class="bold-pro">"us"</b>) and the Restaurant (<b
                  class="bold-pro">"you"</b>).
              </p>
            </div>

            <div class="terms-head">

              <p class="para-terms">
                The following capitalised terms have the following meanings in the Restaurant Agreement:
              </p>
            </div>

            <div class="terms-head">
              <div class="table-responsive table-main">
                <table class="table table-striped mb-0">
                  <tbody class="table_body">
                      <tr class="table-tr">
                          <td >   Card Order</td>
                           <td> An Order placed via an Order Channel, in respect of which we have directly or indirectly collected payment from the Customer using a credit or debit card </td>
                      </tr>
                      <tr class="table-tr">
                          <td >   Cash Order                             </td>
                           <td> An Order that is not a Card Order </td>
                      </tr>



                      <tr class="table-tr">
                          <td >   Chargeback</td>
                           <td> Any penalty, payment reversal or similar charges or fees we incur from any card scheme, merchant acquirer or card issuer in respect of Card Orders </td>
                      </tr>

                      <tr class="table-tr">
                          <td >   Customer                               </td>
                           <td> A person who has used an Order Channel to place an Order </td>
                      </tr>

                      <tr class="table-tr">
                          <td >   Delivery Charge</td>
                           <td> Our charge to you in respect of each Order for which we provide Delivery Services to you. The amount of this is set out in the Restaurant Agreement </td>
                      </tr>

                      <tr class="table-tr">
                          <td >   Opening Hours
                            </td>
                           <td> Has the meaning given in relevant section</td>
                      </tr>

                      <tr class="table-tr">
                          <td >   Order </td>
                           <td> An order for your goods placed by a Customer and communicated to you by us, and where relevant any comments directed to you by the Customer </td>
                      </tr>

                      <tr class="table-tr">
                          <td >   Order Channel                            </td>
                           <td> Any of the Website, related mobile applications and ordering platforms</td>
                      </tr>

                      <tr class="table-tr">
                          <td >   Premises</td>
                           <td> An outlet controlled by you from which food, drink and other products are prepared and / or served or distributed to consumers </td>
                      </tr>

                      <tr class="table-tr">
                          <td >   Product                            </td>
                           <td> Any hardware or software provided by us to you (or your staff or contractors) for the purpose of receiving or managing Orders (or other related purposes) </td>
                      </tr>

                      <tr class="table-tr">
                          <td >   Restaurant Charges</td>
                           <td> The monthly subscription fee of BHD 60/- </td>
                      </tr>
                      <tr class="table-tr">
                          <td >   Service Charge</td>
                           <td> The amount, if any, charged by us to the Customer for use of the Order Channels and for the services we provide to the Customer and associated benefits including customer care </td>
                      </tr>

                      <tr class="table-tr">
                          <td >   Website             </td>
                           <td> (TO BE ADDED BY FOOD CLUB)</td>
                      </tr>


                  </tbody>
                </table>

              </div>
            </div>

            <div class="terms-head">

              <p class="para-terms">
                <span class="terms-no">
                  5
                </span>
                <b class="bold-pro">Agency: </b> We enable Customers to place Orders to purchase goods from you
                via an Order Channel. We intend to make each Order Channel available and functional for the purpose of
                providing the Service at all times but we are under no obligation to do so. Unless we have agreed
                otherwise, we will allow Customers to place both Card Orders and Cash Orders.
              </p>
            </div>


            <div class="terms-head">

              <p class="para-terms">
                <span class="terms-no">
                  6
                </span>
                <b class="bold-pro"> Marketing: </b> We may carry out marketing activities using your brand, the purpose
                of which is to generate more Orders for you. For example, we may do this online by search engine
                optimisation using your brand name or other keywords relating to your restaurant, by displaying your
                menu in search results (including on online maps) or by adding links to Order Channels in search engine
                results for your brand. We may also create and promote a website with a domain of our choosing which
                allows consumers to view your products and links to the Order Channels, and (after first obtaining your
                permission) place a link to any Order Channel on your own website or other online assets controlled by
                you or us . You give us your consent to use your name, logo and other intellectual property for the
                purpose of these marketing activities during the term of the Restaurant Agreement, and you warrant to us
                that you have the ability to grant this consent to us. Unless you have given us notice to the contrary
                at any time, you also consent to receiving from time to time direct marketing communications from us
                relating to our products or services or those of selected third-parties via e-mail, post, fax or other
                means of communication.
              </p>
            </div>

            <div class="terms-head">
              <h3 class="head-terms">
                <span class="terms-no">
                  7
                </span>
                YOUR USE OF THE PRODUCT
              </h3>

            </div>

            <div class="terms-head">
              <p class="para-terms">
                <span class="terms-no">
                  8
                </span>
                <b class="bold-pro">Ownership of hardware, repairs &amp; return: </b> The Product hardware, and any
                other
                hardware we supply to you remains our property at all times, and must be returned to us in good working
                condition at the end of the Restaurant Agreement. If it is not returned, or if you damage the Product
                through negligence, misuse or by allowing alterations to be performed by anyone other than us or our
                representatives, we may charge you for our reasonable costs of repairing or replacing the relevant
                hardware. </p>
            </div>


            <div class="terms-head">
              <p class="para-terms">
                <span class="terms-no">
                  9 </span>
                <b class="bold-pro">Ownership of software &amp; use: </b> The Product software remains our property, or
                that
                of our licensors at all times. You are authorised to use this software during the Term in accordance
                with any end-user licence which we give you notice of from time to time. You must ensure compliance with
                the terms of that licence by your employees and contractors. You must not, and you must ensure that your
                employees and contractors do not reverse engineer, decompile, disassemble, crack or otherwise misuse the
                Product software, and you will use reasonable efforts to keep the functionality of the Product software
                confidential to you and your employees and contractors.
              </p>
            </div>

            <div class="terms-head">
              <p class="para-terms">
                <span class="terms-no">
                  10 </span>
                <b class="bold-pro">Product changes: </b> We may upgrade or alter the Product hardware or Product
                software at any time.
              </p>
            </div>

            <div class="terms-head">
              <p class="para-terms">
                <span class="terms-no">
                  11 </span>
                <b class="bold-pro"> Product instructions: </b> You must follow any lawful instructions we give you in
                relation to the use of the Product hardware or software.
              </p>
            </div>

            <div class="terms-head">
              <p class="para-terms">
                <span class="terms-no">
                  12 </span>
                <b class="bold-pro"> SIM card: </b> If the Product contains a SIM card, you must ensure that it is not
                used for any reason other than in connection with the Product's use as part of the Service. We may,
                acting reasonably, invoice you for any costs incurred by us which we believe result from the SIM card
                being used for any other reason.
              </p>
            </div>

            <div class="terms-head">
              <p class="para-terms">
                <span class="terms-no">
                  13 </span>
                <b class="bold-pro"> Remote access: </b>
                We may remotely access the Product software at any time for any lawful reason, in particular to update
                the software or to perform software maintenance.
              </p>
            </div>
            <div class="terms-head">
              <h3 class="head-terms">
                <span class="terms-no">
                  14
                </span>
                YOUR FULFILMENT OF ORDERS
              </h3>
            </div>

            <div class="terms-head">
              <p class="para-terms">
                <span class="terms-no">
                  15 </span>
                <b class="bold-pro"> Your obligations to Customers: </b> You acknowledge and understand that once a
                Customer has placed an Order via an Order Channel, a contract for the supply of goods has been created
                and you are obliged to fulfill that Order in accordance with the Order details received from us. If you
                do not prepare and deliver an Order you receive, you acknowledge that you are in breach of your
                agreement with the Customer, and that we may take any action we see fit (including refunding the
                Customer for any amount received by us from them).
              </p>
            </div>

            <div class="terms-head">
              <p class="para-terms">
                <span class="terms-no">
                  16 </span>
                <b class="bold-pro"> Acceptance &amp; rejection: </b> So that we can communicate promptly to Customers
                the
                status of their Order, the Product may allow you to indicate your acceptance or rejection of an Order.
                You will use best efforts to accept all Orders received from us promptly during your Opening Hours. If
                you cannot fulfill your obligation to the Customer in respect of any Order, you must communicate this to
                us as soon as possible so that we can inform the Customer.
              </p>
            </div>

            <div class="terms-head">
              <p class="para-terms">
                <span class="terms-no">
                  17 </span>
                <b class="bold-pro">Preparation :</b>The goods forming part of any Order will be supplied from the
                Premises to which the Order relates and prepared under your control and with reasonable care and skill,
                and otherwise in accordance with the terms of the Restaurant Agreement. </p>
            </div>

            <div class="terms-head">
              <p class="para-terms">
                <span class="terms-no">
                  18 </span>
                <b class="bold-pro">Customer receipts</b>You will provide each Customer with a receipt (and a VAT
                receipt) in respect of an Order, if the Customer so requests. </p>
            </div>

            <div class="terms-head">
              <p class="para-terms">
                <span class="terms-no">
                  19 </span>
                <b class="bold-pro">Delivery and collection :</b>Unless we have agreed otherwise, we will allow
                Customers to select delivery or collection when placing their Order. If the Customer selects delivery,
                you will use reasonable commercial efforts to deliver or procure the delivery of the ordered goods to
                the Customer promptly at the address communicated to you by us. You must also check that the Order
                number given by the Customer corresponds with the Order number received by you from us. </p>
            </div>
            <div class="terms-head">
              <p class="para-terms">
                <span class="terms-no">
                  20
                </span>
                <b class="bold-pro">Identification checks :</b>If you deliver the goods forming the Order, you will use
                reasonable efforts to establish that the person receiving them is authorised to receive the goods. Where
                the Order is a Card Order, you must comply fully with the card verification procedures set out and
                required by the Central Bank of Bahrain. You acknowledge that you are solely responsible for ensuring
                that the Customer is over the relevant legal age for the purchase of any age-restricted goods.</p>
            </div>

            <div class="terms-head">

              <p class="para-terms">
                <span class="terms-no">
                  21
                </span>
                <b class="bold-pro">Card Verification Procedures :</b>Card payments are to follow the procedures set out
                by our contracted payment service provider. Entities which </p>
            </div>

            <div class="terms-head">

              <p class="para-terms">
                <span class="terms-no">
                  22
                </span>
                <b class="bold-pro">On delivery :</b>Ask the cardholder to produce the credit/debit card used to pay for
                the Order and obtain the cardholder’s signature on the receipt. Check that the signature on the receipt
                matches the signature on the credit/debit card. Check also that the last 4 digits of the credit/debit
                card match those on the receipt printed from the Product. </p>
            </div>

            <div class="terms-head">

              <p class="para-terms">
                <span class="terms-no">
                  23
                </span>
                <b class="bold-pro">After delivery :</b> Upon our request in connection with an incident of card fraud,
                send us the signed receipt. </p>
            </div>

            <div class="terms-head">

              <p class="para-terms">
                <span class="terms-no">
                  24
                </span>
                If you fail to produce the signed receipt, we will have the right not to make any payment to you in
                relation to such Order or, if such payment has already been made, to recover from and charge you the
                full amount of such payment. </p>
            </div>
            <div class="terms-head">

              <p class="para-terms">
                <span class="terms-no">
                  25
                </span>
                <b class="bold-pro">Complaints & compensation :</b>
                If a Customer complains to us about any aspect of an Order and we give you details of the complaint you
                will respond to the Customer in a timely manner and will act reasonably and cooperate with us to ensure
                a prompt resolution. Where we, acting reasonably, have incurred costs as a direct result of complaints
                about your goods or delivery services, Premises or services (including where you have rejected an
                Order), we may invoice you for those costs.
              </p>
            </div>
            <div class="terms-head">
              <h3 class="head-terms">
                <span class="terms-no">
                  26
                </span>
                INFORMATION YOU SUPPLY TO US
              </h3>
            </div>
            <div class="terms-head">

              <p class="para-terms">
                <span class="terms-no">
                  27
                </span>
                <b class="bold-pro">Accuracy & completeness :</b>
                You must supply us with any information about your products, your Premises or your business (<b
                  class="bold-pro">" partner information"</b>), which we (acting reasonably) may ask you to supply, and
                you must ensure that such information is accurate. You acknowledge that your partner information (such
                as postcode, delivery radius and opening hours) and information about your dishes and products will be
                reproduced verbatim for display to Customers via the Order Channels. You must ensure that we are
                supplied with partner information which is up to date at all times.
              </p>
            </div>

            <div class="terms-head">

              <p class="para-terms">
                <span class="terms-no">
                  28
                </span>
                <b class="bold-pro">Allergen information :</b> You are responsible for providing us with up to date
                details of any allergens in the goods offered for sale via the Order Channels in accordance with
                applicable laws, and you acknowledge that we will repeat the information you provide about allergens
                verbatim on the Order Channels. We do not undertake to check, and are not liable for checking this
                information on your behalf.
              </p>
            </div>
            <div class="terms-head">

              <p class="para-terms">
                <span class="terms-no">
                  29
                </span>
                <b class="bold-pro"> Opening hours :</b>
                You must keep us informed of your hours of operation, and in the case of sales of alcohol products, any
                licensing restrictions on the hours during which such products can be sold. If your Opening Hours are
                stated on your menu, we will be entitled to treat these as the Opening Hours unless you give us notice
                to the contrary.
              </p>
            </div>

            <div class="terms-head">
              <h3 class="head-terms">
                <span class="terms-no">
                  30
                </span>
                PRICE PROMISE
              </h3>
            </div>

            <div class="terms-head">

              <p class="para-terms">
                <span class="terms-no">
                  31
                </span>
                <b class="bold-pro">Restaurant prices & discounts :</b>
                Unless we have agreed otherwise, the prices, discounts and special offers you provide in respect of your
                goods and services through the Order Channels (including any delivery charges and minimum order values
                set by you) must be no less favourable than those offered to consumers via your own online channels for
                the same goods or services, and you must ensure that details of all prices, discounts and special offers
                offered on your website are promptly supplied to us so that where we reasonably can, we can offer them
                to Customers via the Order Channels.
              </p>
            </div>

            <div class="terms-head">
              <h3 class="head-terms">
                <span class="terms-no">
                  32
                </span>
                OUR CHARGES
              </h3>
            </div>

            <div class="terms-head">

              <p class="para-terms">
                <span class="terms-no">
                  33
                </span>
                <b class="bold-pro">General :</b>
                We will charge the Restaurant Charges to you on a monthly basis.
              </p>
            </div>

            <div class="terms-head">

              <p class="para-terms">
                <span class="terms-no">
                  34
                </span>
                <b class="bold-pro"> Other charges to you :</b>
                We may also charge you for other services we have provided to you (such as Top Placement) or
                administrative services at the rates we give you due notice of from time to time.
              </p>
            </div>

            <div class="terms-head">
              <h3 class="head-terms">
                <span class="terms-no">
                  35
                </span>
                CUSTOMER CHARGES
              </h3>
            </div>

            <div class="terms-head">

              <p class="para-terms">
                <span class="terms-no">
                  36
                </span>
                We may – subject to due notice - charge each Customer who places an Order a Service Charge, as we
                see fit. Where the Service Charge applies, you will include it in that Customer's receipt for goods. You
                will collect the Service Charge on our behalf from each Customer who places a Cash Order. </p>
            </div>

            <div class="terms-head">
              <h3 class="head-terms">
                <span class="terms-no">
                  37
                </span>
                PAYMENTS FROM CUSTOMERS
              </h3>
            </div>

            <div class="terms-head">

              <p class="para-terms">
                <span class="terms-no">
                  38
                </span>
                <b class="bold-pro"> Authorisation :</b>
                You irrevocably authorise us to act as your agent to accept, receive, and channel amounts using our
                payment service provideron your behalf, and you authorise us to notify third-parties (including
                Customers) that we are so authorised.
              </p>
            </div>

            <div class="terms-head">

              <p class="para-terms">
                <span class="terms-no">
                  39
                </span>
                <b class="bold-pro"> Refunds :</b>
                You understand that we are not under any obligation to make refunds of any amounts you have paid to us
                in respect of the Service or any ancillary or related services (including payments in relation to Top
                Placement). A top-up point system will credit points into the Customers account which can be utilized in
                future Orders from the restaurant which was due to refund.
              </p>
            </div>
            <div class="terms-head">
              <h3 class="head-terms">
                <span class="terms-no">
                  40
                </span>
                YOUR AUTHORITY & CHANGES TO RESTAURANT PROPRIETORSHIP
              </h3>
            </div>


            <div class="terms-head">

              <p class="para-terms">
                <span class="terms-no">
                  41
                </span>
                <b class="bold-pro">Authority to deal with us :</b>
                : Unless we have agreed otherwise in writing, we are authorised to take instructions in respect of your
                account from, and provide information about your account to, the person who signed the Restaurant
                Agreement, any person who appears to us to be employed by that person or by the Restaurant and any other
                person who we (acting reasonably) are satisfied has authority to act on your behalf. You will promptly
                provide us with any information or evidence we may request for the purpose of proving ownership of the
                Restaurant or its business or Premises.
              </p>
            </div>

            <div class="terms-head">
              <p class="para-terms">
                <span class="terms-no">
                  42
                </span>
                <b class="bold-pro">Franchises : </b>
                We will not be liable to you if we, acting reasonably, decline to provide any aspect of the Services or
                related services, or decline to act on your instructions because we are on notice from any person who we
                have reason to believe is your duly authorised franchisor that to do so would breach any agreement made
                between you and that franchisor.
              </p>
            </div>


            <div class="terms-head">
              <p class="para-terms">
                <span class="terms-no">
                  43
                </span>
                <b class="bold-pro">Changes to proprietorship : </b>
                If you cease to operate your business, or you give someone else the right to operate your business
                (whether permanently or temporarily) you must give us written notice as soon as possible. If we receive
                notice of a change to the proprietorship of your business, or other important details relating to your
                business (for example a change of name, or a change to the account to which payments to you are made)
                from someone other than you and who appears to us to be authorised by you, then we will make reasonable
                efforts to contact you. You acknowledge that if you don't respond, or if you don't give us the notice
                referred to in the first sentence of this section, we may terminate this Restaurant Agreement without
                further notice to you.
              </p>
            </div>

            <div class="terms-head">
              <h3 class="head-terms">
                <span class="terms-no">
                  44
                </span>
                CONSENTS & COMPLIANCE WITH LAWS
              </h3>

            </div>

            <div class="terms-head">
              <p class="para-terms">
                <span class="terms-no">
                  45
                </span>
                <b class="bold-pro">Compliance with laws : </b>
                You warrant, represent and undertake to us that you, and any contractors you use in connection with the
                preparation or delivery of Orders will comply at all times with all applicable laws and regulations, in
                particular (but without limitation) in relation to health and safety, VAT, data protection, food
                standards, hygiene and information, and the sale of regulated products, and will provide reasonable
                evidence to us of compliance upon request.
              </p>
            </div>

            <div class="terms-head">
              <p class="para-terms">
                <span class="terms-no">
                  46
                </span>
                <b class="bold-pro"> Licences & consents : </b>
                You warrant, represent and undertake to us that you have and will maintain, and will ensure that your
                contractors have and will maintain, on signature and throughout the term of the Restaurant Agreement,
                any consents, licences, permissions, approvals or authorisations ("Consents") (including from any
                franchisor) required in connection with entering into the Restaurant Agreement and your performance of
                your obligations under it, and you will, and will ensure that your contractors will, comply at all times
                with the terms of such Consents. If you sell alcohol you will also inform us of any restrictions or
                conditions of your licences that would need to be managed through an Order Channel such as any
                restrictions of the times at which alcoholic products can be made available for sale. You are not party
                to and will not enter into any agreement which would be breached by, or under which any default would
                occur as a consequence of becoming a party to the Restaurant Agreement. If you are a franchisee, you
                warrant to us that you have obtained all necessary Consents from your franchisor in respect of your
                entry into the Restaurant Agreement and that you have given notice to your franchisor that you have
                entered into the Restaurant Agreement. You will notify us immediately if any Consent is revoked or
                suspended, lapses, or you otherwise cease to be able to rely on or benefit from any such Consent for any
                reason.
              </p>
            </div>

            <div class="terms-head">
              <p class="para-terms">
                <span class="terms-no">
                  47
                </span>
                <b class="bold-pro"> Data protection : </b>
                We may share personal data with you in the performance of our obligations under the Restaurant
                Agreement. The personal data processed under the Restaurant Agreement. You warrant that you will comply
                at all times with applicable data protection legislation, and you will maintain appropriate measures to
                ensure that the rights of the people to whom the personal data relates are protected. You will also
                implement and maintain appropriate technical and organisational measures to ensure a level of security
                appropriate to the risks presented by your processing of the personal data, and you must not transfer
                any personal data outside of the Kingdom of Bahrain without our consent. If you process any personal
                data pursuant to the Restaurant Agreement you will follow any instructions we give you in respect of
                that data, which may include activities that assist and enable us to comply with our obligations under
                applicable data protection laws, and you will immediately notify us on becoming aware of any actual or
                possible breach of this section.
              </p>
            </div>

            <div class="terms-head">
              <p class="para-terms">
                <span class="terms-no">
                  48
                </span>
                <b class="bold-pro"> Identity of data subjects : </b>
                Customers. Types of personal data processed: personal details including titles, first name, last name,
                email address, delivery address, phone number and online identifiers including IP address. Duration of
                processing by you: until the earliest of the expiry of the Restaurant Agreement plus 28 days, or the
                date upon which processing is no longer necessary for the performance of your obligations under this
                Agreement. Nature of processing: receipt, storage and deletion. Purpose of processing: the fulfillment
                of Orders.
              </p>
            </div>

            <div class="terms-head">
              <p class="para-terms">
                <span class="terms-no">
                  49
                </span>
                <b class="bold-pro"> Taxes : </b>
                You are solely responsible for self-assessing, claiming and remitting all applicable taxes.
              </p>
            </div>

            <div class="terms-head">
              <h3 class="head-terms">
                <span class="terms-no">
                  50
                </span>
                REVIEWS
              </h3>

            </div>

            <div class="terms-head">
              <p class="para-terms">
                <span class="terms-no">
                  51
                </span>
                We may display on the Order Channels ratings and comments ("Reviews") provided by Customers regarding
                the Restaurant or an Order. We assume no responsibility or liability to you for any Reviews, and we are
                not under any obligation to you to remove or edit any Reviews. You will not yourself post, or cause any
                other party to post any Reviews about your own Restaurant or which otherwise breach any guidelines for
                Reviews published by us.
              </p>
            </div>

            <div class="terms-head">
              <h3 class="head-terms">
                <span class="terms-no">
                  52
                </span>
                SUSPENSION OF SERVICES
              </h3>

            </div>

            <div class="terms-head">
              <p class="para-terms">
                <span class="terms-no">
                  53
                </span>
                If we (acting reasonably) believe that you are in default of your obligations under the Restaurant
                Agreement or otherwise are operating your business in a manner which is harmful to our business,
                goodwill or reputation then without limiting our other rights or remedies, we may at any time suspend
                provision of the Services under the Restaurant Agreement (including by suspending your profile on any
                Order Channel and ceasing to conclude the sale of your goods via any Order Channel) or any other
                services that we provide to you without liability to you. If you operate more than one Premises, we are
                entitled to invoke this clause in respect of only one Premises or all of them, at our reasonable
                discretion.
              </p>
            </div>

            <div class="terms-head">
              <h3 class="head-terms">
                <span class="terms-no">
                  54
                </span>
                TERM & TERMINATION
              </h3>
            </div>


            <div class="terms-head">
              <p class="para-terms">
                <span class="terms-no">
                  55
                </span>
                <b class="bold-pro"> Term : </b>
                The Restaurant Agreement comes into force when executed by you, and has an initial term of twelve
                months. Thereafter, it will automatically renew for successive twelve-month periods unless terminated in
                accordance with its terms.
              </p>
            </div>

            <div class="terms-head">
              <p class="para-terms">
                <span class="terms-no">
                  56
                </span>
                <b class="bold-pro"> Termination : </b>
                You can terminate the Restaurant Agreement by giving us 30 days' notice at any time. If you are in
                breach of the Restaurant Agreement, we can terminate it on notice to you. Otherwise, we can terminate
                the Restaurant Agreement by giving you up to 30 days' notice (but not less than reasonable notice) at
                any time.
              </p>
            </div>

            <div class="terms-head">
              <p class="para-terms">
                <span class="terms-no">
                  57
                </span>
                <b class="bold-pro"> Automatic termination : </b>
                Following execution of the Restaurant Agreement, we may require you to provide information or execute
                further documents for the purpose of onboarding the Restaurant or other compliance purposes. You
                understand that if you cannot comply with our reasonable requirements within 60 days of execution, and
                as a result the Restaurant does not go online on the Website within that period, the Restaurant
                Agreement will automatically terminate on the last day of that period.
              </p>
            </div>

            <div class="terms-head">
              <p class="para-terms">
                <span class="terms-no">
                  58
                </span>
                <b class="bold-pro"> Obligations at the end of the Term : </b>
                At the end of the Term, we will remove or disable the Restaurant’s profile on the Order Channels
                reasonably promptly. Both you and we will also promptly stop using each other's intellectual property
                both online and offline (for example, you will remove any links to the Website which may exist on your
                own website). We will promptly cease to perform the our obligations and use reasonable efforts to
                procure that any affiliate performing similar functions on our behalf ceases to do so, and (if
                applicable) we will shut down any Order Channel in our control which links to your website. Cached
                versions of such Order Channels may continue to exist in the web browsers and web servers of search
                engines and customers following such termination. We will not have any liability to you in connection
                with these matters to the extent that they lie outside of our control.
              </p>
            </div>

            <div class="terms-head">
              <h3 class="head-terms">
                <span class="terms-no">
                  59
                </span>
                LIMITATION OF LIABILITY & INDEMNITY
              </h3>
            </div>

            <div class="terms-head">
              <p class="para-terms">
                <span class="terms-no">
                  60
                </span>
                <b class="bold-pro"> General exclusion : </b>
                Nothing in the Restaurant Agreement will limit or exclude either party's liability for: death or
                personal injury caused by its own negligence, or the negligence of its employees, agents or
                subcontractors; or fraud or fraudulent misrepresentation; or breach of the terms implied the laws of the
                Kingdom of Bahrain; or breach of any term implied by any statute or any liability which (in each case)
                cannot lawfully be limited or excluded.
              </p>
            </div>

            <div class="terms-head">
              <p class="para-terms">
                <span class="terms-no">
                  61
                </span>
                <b class="bold-pro"> Exclusion of our liability : </b>
                We are not liable to you whether in contract, tort (including negligence), breach of duty or otherwise
                for: (a) any special damages, any loss of goodwill, reputation, business, profits, data, actual or
                anticipated income or profits or loss of contract or any indirect or consequential losses; and (b) any
                damages, costs, direct or indirect losses which relate to faults, breakdowns or other interruptions to
                the ability of Customers to place Orders for any reason whatsoever;
              </p>
            </div>

            <div class="terms-head">
              <p class="para-terms">
                <span class="terms-no">
                  62
                </span>
                <b class="bold-pro">Limitation of our liability : </b>
                Our total liability to you in respect of any losses arising under or in connection with the Restaurant
                Agreement howsoever caused is limited to an amount equal to an amount of money held by us on your behalf
                as at the date of the event giving rise to the claim.
              </p>
            </div>

            <div class="terms-head">
              <p class="para-terms">
                <span class="terms-no">
                  63
                </span>
                <b class="bold-pro">Force majeure : </b>
                We will not be liable to you as a result of any delay or failure to perform our obligations under the
                Restaurant Agreement caused by any event or circumstance beyond our reasonable control.
              </p>
            </div>

            <div class="terms-head">
              <p class="para-terms">
                <span class="terms-no">
                  64
                </span>
                <b class="bold-pro"> Indemnity : </b>
                You will indemnify us against: any charges (including Chargebacks), losses, damages or claims (and all
                related costs) made or levied against us by a Customer or any third party in connection with a breach by
                you of the Restaurant Agreement and/or any applicable laws, rules and regulations in force at the
                relevant time; and any losses, damages or claims (and all related costs) resulting from a third-party
                claim against us relating to a violation of the third party’s intellectual property rights where we have
                used a brand name, logo or related intellectual property in accordance with the Restaurant Agreement.
              </p>
            </div>

            <div class="terms-head">
              <h3 class="head-terms">
                <span class="terms-no">
                  65
                </span>
                OTHER MATTERS
              </h3>
            </div>

            <div class="terms-head">
              <p class="para-terms">
                <span class="terms-no">
                  66
                </span>
                <b class="bold-pro"> Entire agreement : </b>
                The Restaurant Agreement constitutes the entire agreement between the parties and supersedes and
                extinguishes all previous drafts, agreements, arrangements and understandings between the parties,
                whether written or oral, relating to its subject matter, and neither party will have any claim for
                innocent or negligent misstatement based upon any statement in the Restaurant Agreement.
              </p>
            </div>

            <div class="terms-head">
              <p class="para-terms">
                <span class="terms-no">
                  67
                </span>
                <b class="bold-pro"> Assignment etc. by us : </b>
                We are entitled to assign, transfer or sub-contract all or any of our rights and obligations under the
                Restaurant Agreement to any entity which is at least 50% owned or is controlled by us, or which directly
                or indirectly controls us, or which is owned (directly or indirectly) by any entity that directly or
                indirectly controls us, or to any other third-party which owes us at least equivalent obligations as we
                owe to you under this Agreement.
              </p>
            </div>

            <div class="terms-head">
              <p class="para-terms">
                <span class="terms-no">
                  68
                </span>
                <b class="bold-pro"> Assignment etc. by you : </b>
                You are entitled to assign, transfer, charge, or sub-contract all or any of your rights or obligations
                under the Restaurant Agreement only with our prior consent in writing.
              </p>
            </div>

            <div class="terms-head">
              <p class="para-terms">
                <span class="terms-no">
                  69
                </span>
                <b class="bold-pro"> Confidentiality : </b>
                The terms of this Restaurant Agreement, and any information received pursuant to the Restaurant
                Agreement by one party about the other which is not in the public domain is confidential and will not be
                disclosed during the term of the Restaurant Agreement or at any time thereafter save as required by law.
              </p>
            </div>

            <div class="terms-head">
              <p class="para-terms">
                <span class="terms-no">
                  70
                </span>
                <b class="bold-pro"> Severability : </b>
                If any of the terms or conditions of the Restaurant Agreement are declared wholly or partly invalid,
                illegal or unenforceable, the remainder of the Restaurant Agreement will remain in full force and effect
                and any wholly or partly invalid term or condition will be deemed modified to the minimum extent
                possible to make it valid, legal and enforceable.
              </p>
            </div>

            <div class="terms-head">
              <p class="para-terms">
                <span class="terms-no">
                  71
                </span>
                <b class="bold-pro"> Governing law & jurisdiction : </b>
                The Restaurant Agreement and any dispute or claim arising out or in connection with it or its subject
                matter or formation (including any dispute or claim relating to non-contractual obligations) is governed
                by and construed in accordance with the applicable laws of The Kingdom of Bahrain. The courts of Ireland
                have exclusive jurisdiction to settle any dispute or claim (including any dispute or claim relating to
                non-contractual obligations) arising in connection with the Restaurant Agreement.
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
