<div class="row white-bg page-heading" style="padding-bottom: 10px;padding-top: 20px;">
  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="panel panel-info" title="Managers">
      <div class="panel-heading min-height70">
        <div class="row flex">
          <div class="text-center">
            <h4>Privilages</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="panel panel-info" title="Managers">
      <div class="panel-heading min-height70">
        <div class="row flex">
          <div class="text-center">
            <h4>Department Management</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

	<div class="col-lg-3 col-md-4 col-sm-6">
    <div class="panel panel-info" title="Managers">
      <div class="panel-heading min-height70">
        <div class="row flex">
          <div class="text-center">
            <h4>Designation Management</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="panel panel-info" title="Managers">
      <div class="panel-heading min-height70">
        <div class="row flex">
          <div class="text-center">
            <h4>Salary master Management</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="panel panel-info" title="Managers">
      <div class="panel-heading min-height70">
        <div class="row flex">
          <div class="text-center">
            <div>Working Shifts Management</div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="panel panel-info" title="Managers">
      <div class="panel-heading min-height70">
        <div class="row flex">
          <div class="text-center">
            <div>Employee Management</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="panel panel-info" title="Managers">
      <div class="panel-heading min-height70">
        <div class="row flex">
          <div class="text-center">
            <div>Vacancy Management</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="panel panel-info" title="Managers">
      <div class="panel-heading min-height70">
        <div class="row flex">
          <div class="text-center">
            <div>Interview Management</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="panel panel-info" title="Managers">
      <div class="panel-heading min-height70">
        <div class="row flex">
          <div class="text-center">
            <div>Working Shifts Management</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="panel panel-info" title="Managers">
      <div class="panel-heading min-height70">
        <div class="row flex">
          <div class="text-center">
            <div>Working Shifts Management</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="panel panel-info" title="Managers">
      <div class="panel-heading min-height70">
        <div class="row flex">
          <div class="text-center">
            <div>Working Shifts Management</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="panel panel-info" title="Managers">
      <div class="panel-heading min-height70">
        <div class="row flex">
          <div class="text-center">
            <div>Working Shifts Management</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>