<div class="row white-bg page-heading" style="padding-bottom: 10px;padding-top: 20px;">
  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="panel panel-info" title="Managers">
      <div class="panel-heading min-height70">
        <div class="row flex">
          <div class="text-center">
            <h4>Company/Brand Management</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="panel panel-info" title="Managers">
      <div class="panel-heading min-height70">
        <div class="row flex">
          <div class="text-center">
            <h4>Branch Management</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

	<div class="col-lg-3 col-md-4 col-sm-6">
    <div class="panel panel-info" title="Managers">
      <div class="panel-heading min-height70">
        <div class="row flex">
          <div class="text-center">
            <h4>Coverage Area</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="panel panel-info" title="Managers">
      <div class="panel-heading min-height70">
        <div class="row flex">
          <div class="text-center">
            <h4>Stations</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="panel panel-info" title="Managers">
      <div class="panel-heading min-height70">
        <div class="row flex">
          <div class="text-center">
            <div>Manage Region / Country / State / City / Districts / Zones</div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>