<div class="row white-bg page-heading" style="padding-bottom: 10px;padding-top: 20px;">
  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="panel panel-info" title="Managers">
      <div class="panel-heading min-height70">
        <div class="row flex">
          <div class="text-center">
            <h4>Password Settings</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="panel panel-info" title="Managers">
      <div class="panel-heading min-height70">
        <div class="row flex">
          <div class="text-center">
            <h4>Manage Advertisement</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

	<div class="col-lg-3 col-md-4 col-sm-6">
    <div class="panel panel-info" title="Managers">
      <div class="panel-heading min-height70">
        <div class="row flex">
          <div class="text-center">
            <h4>Pending / Rejected Ads</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="panel panel-info" title="Managers">
      <div class="panel-heading min-height70">
        <div class="row flex">
          <div class="text-center">
            <h4>Deals</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="panel panel-info" title="Managers">
      <div class="panel-heading min-height70">
        <div class="row flex">
          <div class="text-center">
            <h4>Type</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="panel panel-info" title="Managers">
      <div class="panel-heading min-height70">
        <div class="row flex">
          <div class="text-center">
            <h4>place</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="panel panel-info" title="Managers">
      <div class="panel-heading min-height70">
        <div class="row flex">
          <div class="text-center">
            <h4>type</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="panel panel-info" title="Managers">
      <div class="panel-heading min-height70">
        <div class="row flex">
          <div class="text-center">
            <h4>Discounts</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="panel panel-info" title="Managers">
      <div class="panel-heading min-height70">
        <div class="row flex">
          <div class="text-center">
            <h4>Nationality Types</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="panel panel-info" title="Managers">
      <div class="panel-heading min-height70">
        <div class="row flex">
          <div class="text-center">
            <h4>Centre payment methods</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="panel panel-info" title="Managers">
      <div class="panel-heading min-height70">
        <div class="row flex">
          <div class="text-center">
            <h4>Barcodes Management</h4>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="panel panel-info" title="Managers">
      <div class="panel-heading min-height70">
        <div class="row flex">
          <div class="text-center">
            <h4>Cash Management</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="panel panel-info" title="Managers">
      <div class="panel-heading min-height70">
        <div class="row flex">
          <div class="text-center">
            <h4>Hardware / Interfaces Management</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="panel panel-info" title="Managers">
      <div class="panel-heading min-height70">
        <div class="row flex">
          <div class="text-center">
            <h4>Taxes And order Types Management</h4>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="panel panel-info" title="Managers">
      <div class="panel-heading min-height70">
        <div class="row flex">
          <div class="text-center">
            <h4>Reminder Setup</h4>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>