<div class="row white-bg page-heading" style="padding-bottom: 10px;padding-top: 20px;">

  <h1>Customer Details</h1>
  <br/>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>Customer Name</th>
        <th>Customer Mobile</th>
        <th>Customer Phone</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>TEST</td>
        <td>TEST</td>
        <td>TEST</td>
        <td>
          <a href="#" class="btn btn-xs btn-success editcategories " style="font-size: 13px; color: white;"><i class="fa fa-eye" aria-hidden="true"></i></a>
          <a href="#" class="btn btn-xs btn-warning " style="font-size: 13px; color: white;"><i class="fa fa-pencil" aria-hidden="true"></i></a>
          <a href="#" class="btn btn-xs btn-danger " style="font-size: 13px; color: white;"><i class="fa fa-trash" aria-hidden="true"></i></a>

        </td>
      </tr>
    </tbody>
  </table>
</div>