.edit-delivery-charge {
  margin-left: 20px;
}

#add_distance_delivery_charge_modal, #edit_distance_delivery_charge_modal, #edit_delivery_charge_modal, #add_delivery_charge_modal {
  .row {
    margin-bottom: 15px;
  }

  select {
    height: 35px;
  }
}