.menu-management-bulk-actions {
  margin-left: 15px;
}

.admin-search-field {
  width: 220px !important;
  height: 35px !important;
  max-width: 100% !important;
}

.red-font {
  color: red !important;
}

.red-image-border {
  border: 2px solid red !important;
}

.posts-text-area {
  min-height: 150px;
}

.help-button {
  font-weight: bold;
  letter-spacing: 2px;

  a {
    color: white;
  }
}

.remove-branch-timing {
  color: red;
  cursor: pointer;
}

.changed-delivery-order {
  background-color: #e4e4f7 !important;
}

.late-delivered-order {
  background-color: #efe2e2 !important;
}

.total-summary-row{
  font-weight: 600;
}