.sitemap-section {
  color: #171717;

  .search {
    margin-top: 10px;

    input {
      font-size: 14px;
    }
  }

  h4 {
    color: #f8a804;
  }

  a {
    color: #ffffff;
    font-size: 14px;
    display: inline-block;
    margin-bottom: 7px;
  }
}