.contract-date {
  width: 50%;
}

.customer-profile-action-btn {
  font-size: 14px;
  color: #ffffff !important;
  padding: 4px;
  display: inline-block;
  margin: 2px;
}

.user-point-detail-container {
  max-height: 450px;
  overflow: auto;
}