<div class="col-md-12">
    <% (1..9).each do |num| %>
        <button type="button" class="btn btn-default alphbet-num"><%= num %></button>
    <% end %>
    <button type="button" class="btn btn-default alphbet-num">0</button>
</div>

<div class="col-md-12">
    <button type="button" class="btn btn-default alphbet-num can-shift-val">q</button>
    <button type="button" class="btn btn-default alphbet-num can-shift-val">w</button>
    <button type="button" class="btn btn-default alphbet-num can-shift-val">e</button>
    <button type="button" class="btn btn-default alphbet-num can-shift-val">r</button>
    <button type="button" class="btn btn-default alphbet-num can-shift-val">t</button>
    <button type="button" class="btn btn-default alphbet-num can-shift-val">y</button>
    <button type="button" class="btn btn-default alphbet-num can-shift-val">u</button>
    <button type="button" class="btn btn-default alphbet-num can-shift-val">i</button>
    <button type="button" class="btn btn-default alphbet-num can-shift-val">o</button>
    <button type="button" class="btn btn-default alphbet-num can-shift-val">p</button>
</div>

<div class="col-md-12">
    <button type="button" class="btn btn-default alphbet-num can-shift-val">a</button>
    <button type="button" class="btn btn-default alphbet-num can-shift-val">s</button>
    <button type="button" class="btn btn-default alphbet-num can-shift-val">d</button>
    <button type="button" class="btn btn-default alphbet-num can-shift-val">f</button>
    <button type="button" class="btn btn-default alphbet-num can-shift-val">g</button>
    <button type="button" class="btn btn-default alphbet-num can-shift-val">h</button>
    <button type="button" class="btn btn-default alphbet-num can-shift-val">j</button>
    <button type="button" class="btn btn-default alphbet-num can-shift-val">k</button>
    <button type="button" class="btn btn-default alphbet-num can-shift-val">l</button>
    <button type="button" class="btn btn-default alphbet-num">.</button>
</div>

<div class="col-md-12">
    <button type="button" class="btn btn-default alphbet-num can-shift-val">z</button>
    <button type="button" class="btn btn-default alphbet-num can-shift-val">x</button>
    <button type="button" class="btn btn-default alphbet-num can-shift-val">c</button>
    <button type="button" class="btn btn-default alphbet-num can-shift-val">v</button>
    <button type="button" class="btn btn-default alphbet-num can-shift-val">b</button>
    <button type="button" class="btn btn-default alphbet-num can-shift-val">n</button>
    <button type="button" class="btn btn-default alphbet-num can-shift-val">m</button>
    <button type="button" class="btn btn-default alphbet-num ">/</button>
    <button type="button" class="btn btn-default alphbet-num "><-</button>
    <button type="button" class="btn btn-default alphbet-num">X</button>
</div>

<div class="col-md-12">
    <button type="button" class="btn btn-default alphbet-num" style="width: 19%">Shift</button>
    <button type="button" class="btn btn-default alphbet-num" style="width: 29%">Space</button>
    <button type="button" class="btn btn-default alphbet-num">@</button>
    <button type="button" class="btn btn-default" data-dismiss="modal" style="width: 18.5%;margin-bottom: 10px;margin-right: 4px;height: 50px;font-size: 20px;background-color: #184283;">Cancel</button>
    <button type="button" class="btn btn-default okButtonReferencePrompt" style="width: 19%;margin-bottom: 10px;margin-right: 4px;height: 50px;font-size: 20px;background-color: #184283;">OK</button>
</div>
