<div class="col-md-12">
    <button type="button" class="btn btn-default num-button">1</button>
    <button type="button" class="btn btn-default num-button">2</button>
    <button type="button" class="btn btn-default num-button">3</button>
    <button type="button" class="btn btn-default num-button"><-</button>
</div>

<div class="col-md-12">
    <button type="button" class="btn btn-default num-button">4</button>
    <button type="button" class="btn btn-default num-button">5</button>
    <button type="button" class="btn btn-default num-button">6</button>
    <button type="button" class="btn btn-default num-button">X</button>
</div>

<div class="col-md-12">
    <button type="button" class="btn btn-default num-button">7</button>
    <button type="button" class="btn btn-default num-button">8</button>
    <button type="button" class="btn btn-default num-button">9</button>
</div>

<div class="col-md-12">
    <button type="button" class="btn btn-default num-button">0</button>
    <button type="button" class="btn btn-default num-button">.</button>
    <button type="button" class="btn btn-default num-button">00</button>
</div>
